.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
  right: 17px;
  top: 57px;
}

mat-card {
  background-color: #a1887f;
  color: white;
  text-align: center;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
}
  
html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 33.3333%;
  padding-left:12px;
}

.card {
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
  
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: #EBEAEA;
}
  
.container {
  padding: 7px;
}
  
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
  
.title {
  color: #1E1D1D;
  text-align: center !important;
}
  
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #fff;
  background-color: #a1887f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all .5s ease;
}
  
.button:hover {
  background-color: #8d6e63;
}
  
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}