<div class="bg-image"></div>
<div class="wrapper sticky">
  <nav class="navbar">
    <a href="#" class="logo">
      <img src="../../assets/img/logo.png" width="30px" height="30px">Lofi Cafe Management System
    </a>
    <ul class="nav-btns">
      <li>
        <a (click)="handleSignupAction()">Sign up</a>
      </li>
      <li>
        <a (click)="handleSignupAction()">Login</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer">
  <h4>©<a href="https://github.com/aanxniee/cafe-management"> aanxniee</a></h4>
</div>